            <section class="position">
                <header>
                    <h3 class="d-inline-block">{{ .Title }}</h3>
                    <small class="f4 text-bold color-fg-subtle mx-2">({{ .Params.ref }})</small></h3>
                    <span class="Label mr-1 Label--sponsors">{{ .Params.statut }}</span>
                    <span class="Label mr-1 Label--accent">Division {{ .Params.division }}</span>
                </header>
                <div class="Box color-bg-emphasis color-fg-on-emphasis px-4 pt-4 pb-2 mt-2 mb-4">
                    {{ .Content }}
                </div>
            </section>