[submodule "themes/rdubois-reveal"]
	path = themes/rdubois-reveal
	url = https://github.com/reveliant/hugo-theme-reveal.git

[submodule "themes/adarisques-reveal"]
	path = themes/adarisques-reveal
	url = https://github.com/adarisques/hugo-theme-reveal.git
