body {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    min-height: 100%;
    font-weight: 300;
}
.logo {
    height: 4em;
}
section.position ul {
    margin-left: 3em;
    margin-bottom: 1em;
}